{% extends "base/base.html" %}
{% load static %}
{% block title %}<title>Edit</title>{% endblock title %}
{% block content %}
<div class="container col-lg-5">
  <div class="container mt-4 justify-content-center align-items-center" style="height: 25vh;">
    <div class="card align-content-center p-4">
      <form method="post" class="form-group">
        {% csrf_token %}
        <label for="task">Task:</label>
        <input type="text" name="task" id="id_task" class="form-control btn-outline-dark px-5" value="{{task}}" aria-describedby="helpId">
        <button type="submit" class="btn btn-dark mt-3">save</div>
      </form>
    </div>
  </div>
{% endblock %}