{% extends "base/base.html" %}
{% load static %}
{% block title %}<title>To Do</title>{% endblock title %}
{% block content %}

<div class="container col-lg-5">
  <div class="container mt-4 justify-content-center align-items-center" style="height: 25vh;">
    <div class="card align-content-center p-4">
      <form class="form-group" method="post">
        {% csrf_token %}
        <label for="task">Task:</label>
        <input type="text" name="task" id="id_task" class="form-control btn-outline-dark px-5" aria-describedby="helpId">
        <button class="btn btn-dark mt-3" type="submit">save</button>
      </form>
    </div>
  </div>
  {% for task in tasks %}
  <div class="container">
    <div class="card my-3">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <p>{{task}}</p>
        </div>
      </div>
      <div class="row justify-content-center my-3">
        <div class="col-2 mt-3">
          <form method="post" action="{% url "edit" task.id %}">
            {% csrf_token %}
            <button class="btn btn-dark w-100">Edit</button>
          </form>
        </div>
        <div class="col-2 mt-3">
          <form method="post" action="{% url 'deletepage' task.id %}">
            {% csrf_token %}
            <button class="btn btn-dark w-100">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock content %}